@{
  ViewData["Title"] = "Home Page";
}

<form method="post">
  <label>Город отправителя: </label> <input type="text" name="senderCity" /><br />
  <label>Адрес отправителя: </label> <input type="text" name="senderAddress" /><br />
  <label>Город получателя: </label> <input type="text" name="recipientCity" /><br />
  <label>Адрес получателя: </label> <input type="text" name="recipientAddress" /><br />
  <label>Вес груза: </label> <input type="number" name="weight" /><br />
  <label>Дата забора груза: </label> <input type="date" name="date" /><br />
  <input type="submit" value="Отправить" />
</form>
<table>
  <tr>
    <td>Номер заказа</td>
    <td>Город отправителя</td>
    <td>Адрес отправителя</td>
    <td>Город получателя</td>
    <td>Адрес получателя</td>
    <td>Вес груза</td>
    <td>Дата забора груза</td>
  </tr>
  @{
    foreach (Order order in ViewBag.Orders)
    {
      <tr>
        <td>@order.OrderId</td>
        <td>@order.SenderCity</td>
        <td>@order.SenderAddress</td>
        <td>@order.RecipientCity</td>
        <td>@order.RecipientAddress</td>
        <td>@order.Weight</td>
        <td>@order.Date</td>
      </tr>
    }
  }
</table>